/* 
https://developer.mozilla.org/es/docs/Learn/CSS/Building_blocks/El_modelo_de_caja

Modelo de Caja: Es la forma en que CSS ve a los elementos HTML y ¿cómo los ve? como si fueran cajas con las siguientes propiedades:
  1. El contenido (content): El contenido (texto) del elemento HTML, tomando en cuanta sus dimensiones (width & height)
  2. El borde (border): Lo que delimita cada uno de los elementos HTML
  3. El relleno (padding): Son las distancias internas (La distancia del borde al contenido)
  3. El márgen (margin): Son las distancias externas (La distancia entre el elemento html y sus elementos hermanos o padres)

Dentro del modelo de caja hay que considerar que una caja tendrá 4 lados:
  1. Arriba (top)
  2. Derecha (right)
  3. Abajo (bottom)
  4. Izquierda (left)
*/

h1 {
  width: 300px;
  height: 200px;
  color: azure;
  font-family: cursive;
  font-style: italic;
  font-size: 35px;
  background-color: darkcyan;
  /* border-width: 5px;
  border-style: dashed;
  border-color: red; */
  border: 5px dashed red;
  border-top-color: mediumblue;
  padding: 20px;
  text-align: center;
}

.caja-uno,
.caja-dos {
  margin: 20px 40px 30px 100px;
  padding: 30px 50px 20px;
}
/* 
  Esto aplica para margin y padding
  1 valor = aplicar a los 4 lados
  2 valores =
    primer valor es para los lados verticales (t/b)
    segundo valor es para los lados horizontales (l/r)
  3 valores =
    primer valor es para top
    segundo valor es para los lados horizontales (l/r)
    tercer valor es para bottom
  4 valores = Piensa en las manecillas del reloj
    primer valor es para top (12)
    segundo valor es para right (3)
    tercer valor es para bottom (6)
    cuarto valor es para left (9)
    */
.caja-uno {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: burlywood;
  color: brown;
  border: 5px dashed brown;
}
.caja-dos {
  font-size: x-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: darkred;
  color: gold;
  border: 5px double gold;
}
